$primary: #023c47;
$background: #031a20;
$light: #023c47;
//$gold: #a09862;
$gold: #cbb958;
$lighter: #035969;
$lightest: #048199;

$border-radius: 1px;
$button-font-size: x-large;
$card-width: 300px;
$card-height: 400px;

@import "./assets/bootstrap-icons.css";
@import "../node_modules/bootstrap/scss/bootstrap";

@mixin gold-button {
  border-radius: $border-radius;
  border: 2px solid $gold;
  color: $gold;
  font-size: $button-font-size;
  font-weight: 400;

  &:hover {
    background-color: lighten($primary, 10%);
  }
}

%base-card {
  width: $card-width;
  height: $card-height;
  min-width: $card-width;
  min-height: $card-height;
  overflow: hidden;
  border: 2px solid $gold;
  color: $gold;
  text-align: center;
}

body {
  background-color: $background;
  color: $gold;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "old standard tt", serif;
}

main {
  flex: 1;
}

header {
  background-color: $light;
  border-bottom: 3px solid $gold;
}

hr {
  background-color: $gold;
}

.logo {
  font-family: "Tangerine";
  font-style: italic;
  font-size: 68px;
  font-weight: 400;
  color: $gold;
}

.header-nav {
  .nav-link {
    text-decoration: none;
    color: $gold;
    font-size: 36px;
    font-weight: 400;
    margin-right: 25px;
    &:hover {
      color: lighten($gold, 10%);
    }
  }
}

.navbar-toggler {
  border-color: $gold;
  height: 40px;

  .navbar-toggler-icon {
    background-image: none;
    background-color: $gold;
    width: 30px;
    height: 3px;
    position: relative;

    &::before,
    &::after {
      content: "";
      background-color: $gold;
      width: 30px;
      height: 3px;
      position: absolute;
      left: 0;
    }

    &::before {
      top: -8px;
    }

    &::after {
      top: 8px;
    }
  }
}

#logout-btn {
  @include gold-button;
  margin-left: 2rem;
}

#home-h1 {
  padding-bottom: 2%;
}

.home-btn {
  @include gold-button;
}

.homepage-auction-section {
  background-color: $primary;
  padding: 20px;
  border-radius: 0px;
  border: 1px solid $gold;
  margin-bottom: 5%;

  h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      font-size: 16px;
      background: none;
      border: none;
      padding: 0;
      color: $gold;
      cursor: pointer;

      &:active,
      &:focus {
        color: $background;
      }

      &:hover,
      &:focus-visible {
        color: $gold;
        outline: none;
      }
    }
  }

  i {
    color: $gold;

    &:active,
    &:focus {
      color: $background;
    }
  }

  #homepage-search-btn {
    @include gold-button;
  }

  #load-more-home-btn {
    font-size: 2rem;
    padding: 10px 30px;
    border-radius: 0px;
    background-color: $primary;
    color: $gold;
    border: 1px solid $gold;

    &:hover {
      background-color: lighten($primary, 10%);
    }
  }

  .card-container {
    padding: 2rem;

    .card {
      @extend %base-card;
      background-color: $background;

      .card-img-top {
        height: 150px;
        padding: 0.5rem;
        object-fit: cover;
      }

      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .card-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      #homepage-auction-list-view {
        @include gold-button;
        background-color: $primary;
        font-size: 1.3rem;
        font-weight: 500;
      }
    }
  }
}

#loginForm {
  font-size: large;
  font-weight: 600;
  input {
    border-color: $gold;
  }
}

.login-btn {
  @include gold-button;
}

.contact-us-section {
  color: $gold;
  padding: 50px 20px;
  text-align: left;

  h2 {
    color: $gold;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
  }

  .contact-form {
    .form-group {
      margin-bottom: 20px;

      label {
        color: $gold;
        font-size: 14px;
        margin-bottom: 5px;
      }

      .form-control {
        font-weight: 700;
        color: $gold;
        border: 1px solid $gold;
        padding: 10px;
      }
    }

    button {
      @include gold-button;
      margin-top: auto;
    }
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
  }
}

.site-footer {
  border-top: 3px solid $gold;
  background-color: $primary;
  padding: 20px 0;
  color: $gold;
  text-align: center;

  h6 {
    font-size: 26px;
    color: $gold;
  }

  p {
    font-size: 20px;
    color: $gold;
  }

  .footer-links {
    list-style-type: none;
    padding: 0;

    li {
      display: inline-block;
      padding: 0 10px;
    }

    a {
      color: $gold;
      text-decoration: none;
      font-size: 20px;

      &:hover {
        color: lighten($gold, 20%);
      }
    }
  }

  .social-icons {
    list-style-type: none;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 5px;
    }

    a {
      font-size: 24px;
      color: $gold;

      &:hover {
        color: lighten($gold, 20%);
      }
    }
  }

  hr {
    border-color: $gold;
  }

  .copyright-text {
    font-size: 20px;
    margin-top: 15px;
    color: $gold;
  }
}

.carousel {
  .carousel-inner {
    padding: 1em;
  }

  .card {
    @extend %base-card;
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  }

  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.listing-card,
.win-card {
  @extend %base-card;
  background-color: $light;
  padding: 1rem;

  .card-img-top {
    height: 150px;
    padding: 0.5rem;
    object-fit: cover;
  }

  .card-body {
    height: 150px;
    overflow: hidden;
  }

  .card-title {
    font-size: xx-large;
    font-weight: normal;
  }

  .card-text {
    font-size: large;
  }
}

#avatar,
#banner {
  border: 3px solid $gold;
}

#edit-profile-btn {
  @include gold-button;
}

.auction-list-card {
  @extend %base-card;
  background-color: $primary;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    object-fit: cover;
    height: 150px;
    width: 100%;
  }

  .card-body {
    .card-title {
      height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: x-large;
    }

    .card-text {
      height: 60px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .btn {
      @include gold-button;
      margin-top: auto;
    }
  }
}

.list-btn {
  @include gold-button;
  margin-top: auto;
}

.create-container {
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
}

#create-auction-form {
  .form-label {
    font-size: x-large;
    font-weight: normal;
    margin-bottom: 5px;
  }
  button {
    @include gold-button;
    margin-top: auto;
  }
}

#auction-seller {
  img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid $gold;
    display: block;
  }
}

#auction-detail-media {
  img {
    max-width: 50rem;
    margin: 2rem;
  }
}

#bid-form {
  button {
    @include gold-button;
    margin-top: auto;

    &:hover {
      color: lighten($primary, 20%);
    }
  }
  #bid-amount {
    max-width: 10rem;
  }
}

#edit-profile-form {
  button {
    @include gold-button;
    margin-top: auto;

    &:hover {
      color: lighten($primary, 20%);
    }
  }
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  display: none;
  margin: 10px auto;
}

.hidden {
  display: none;
}

#register-button {
  @include gold-button;
  margin-top: auto;

  &:hover {
    color: lighten($primary, 20%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .carousel-inner {
    padding: 1em 0;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  .listing-card,
  .win-card {
    margin: 0.5em;
  }
}
